h1,p,div {
    background-color: #dde0e3;
    padding: 50px 0px;
    margin: 20px 50px;
}

em,strong,span{
    background-color: #b2d6ff;
}

h1 {
    text-align: center;
    border: 5px solid black;
}

div {
    padding: 10px 5px 15px 3px;
}

p {
    text-align: justify;
    border: 5px solid black;
    padding-left: 20px;
    border-radius: 15px;
}